/* Mobile & Tablet */
@media (max-width: 63.9375em) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .header__cart-list {
    position: fixed;
    top: var(--height-header);
    width: 100%;
    padding: 0 calc((100% - 644px) / 2);
  }

  .header__cart-list::before {
    display: none;
  }

  .header__sort-bars {
    display: flex;
  }

  .app__container {
    margin-top: calc(var(--height-header) + var(--height-header-sort-bar));
  }

  .mobile-category {
    display: block;
  }

  .app__content {
    padding: 8px 0 32px;
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  :root {
    --height-header: 68px;
    --navbar-height: 0px;
  }

  .hide-on-tablet {
    display: none;
  }

  .header__cart {
    width: 72px;
    text-align: right;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  :root {
    --height-header: 54px;
    --navbar-height: 0px;
  }

  .hide-on-mobile {
    display: none;
  }

  .header-with-search {
    justify-content: space-between;
    padding: 0 16px;
    position: relative;
  }

  .header__mobile-search {
    display: block;
  }

  .header__logo {
    width: unset;
  }

  .header__logo-img {
    width: 120px;
  }

  .header__logo-link {
    display: block;
    line-height: unset;
    padding: 0;
  }

  .header__cart {
    width: unset;
  }

  .header__search {
    position: fixed;
    top: var(--height-header);
    left: 0;
    width: 100%;
    height: var(--height-header-sort-bar);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);
    padding: 0 16px;
    z-index: 1;
    animation: showHeaderMobileSearch linear 0.2s;
    display: none;
  }

  .header__search-history {
    position: fixed;
    top: calc(var(--height-header) + var(--height-header-sort-bar));
    left: 0;
    width: 100%;
    padding: 0 16px;
  }

  .app__content {
    margin: 0 4px;
  }

  .pagination-item {
    margin: 0;
  }

  .pagination-item__link {
    --heigth: 26px;
    font-size: 1.6rem;
    min-width: 32px;
  }

  .footer__content {
    padding: 0 12px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer-item__link {
    justify-content: center;
  }

  .footer__download-apps {
    flex: none;
  }

  .footer__download-app-link {
    margin-bottom: 12px;
  }

  .footer__download-app-img {
    height: 24px;
  }

  .home-product__item-favourite {
    display: flex;
    align-items: center;
  }

  .home-product__item-favourite i {
    margin-right: 4px;
  }

  .home-product__item-sale-off {
    display: flex;
    flex-direction: column;
  }

  @keyframes showHeaderMobileSearch {
    from {
      top: calc(var(--height-header) / 2);
      opacity: 0;
    }
    to {
      top: var(--height-header);
      opacity: 1;
    }
  }
}
